<!-- Footer -->
<footer class="bg-light text-center">
	<!-- Copyright -->
	<div class="text-center p-3">
		Young Capital NEXT IT Traineeship nov 2023
		<div class="tech-links">
			<a
				href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg"
					width="36"
					height="36"
					alt="HTML5"
			/></a>
			<a href="https://www.oracle.com/java/" target="_blank" rel="noreferrer"
				><img
					src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/java-colored.svg"
					width="36"
					height="36"
					alt="Java"
			/></a>
			<a
				href="https://docs.microsoft.com/en-us/dotnet/csharp/"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/csharp-colored.svg"
					width="36"
					height="36"
					alt="C#"
			/></a>
		</div>
	</div>
	<!-- Copyright -->
</footer>
