<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Veilingsite</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav me-auto mb-2 mb-lg-0">
				<a class="nav-link" href="index.html">Home</a>
				<a class="nav-link" href="items.html">Items</a>
				<a class="nav-link" href="veilingen.html">Veilingen</a>
				<a class="nav-link" href="accounts.html">Accounts</a>
			</div>
			<a class="nav-link me-2" href="profiel.html?accountid=1">Mijn profiel </a>
			<a class="nav-link mx-2" href="registreren.html">Registreren</a>
			<a class="nav-link ms-2" href="inloggen.html">Inloggen</a>
		</div>
	</div>
</nav>
