<!-- Footer -->
<footer class="bg-light text-center mt-4 sticky-bottom">
	<div class="text-center p-3">
		<div class="tech-links">
			<a
				href="https://github.com/JeroenPouw/yc2311-VeilingFrontEnd"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://seeklogo.com/images/J/javascript-logo-8892AEFCAC-seeklogo.com.png"
					width="36"
					height="36"
					alt="Javascript"
			/></a>
			<a
				href="https://github.com/Eloise-es/veiling-java-YC2311"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/java-colored.svg"
					width="36"
					height="36"
					alt="Java"
			/></a>
			<a
				href="https://github.com/Sevillio/YCVeiling202311new"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/csharp-colored.svg"
					width="36"
					height="36"
					alt="C#"
			/></a>
		</div>
	</div>
</footer>
